<!DOCTYPE html>
<html layout:decorator="layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<th:block layout:fragment="content">
    <header>
        <div>
            검색창
        </div>
        <div>
            <select name="">
                <option value="">전체</option>
                <option value="">book</option>
            </select>
            <input type="text" name="">
            <a href="">ok</a>
        </div>
    </header>
    <main class="">
        <div class="">
            <table>
                <thead>
                <tr>
                    <td>name</td>
                    <td>등록일</td>
                </tr>
                </thead>
                <tbody>
                <td>좋은책1</td>
                <td>2019-10-10</td>
                </tbody>
            </table>
        </div>
        <div class="">
            paging
        </div>
    </main>
</th:block>
</body>
</html>