<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>hello world</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/fx.min.js" type="text/javascript"></script>
    <script src="/js/fxd.min.js" type="text/javascript"></script>
    <script src="/js/axios.min.js" type="text/javascript"></script>
</head>
<body>
<header class="header">
    <div th:if="${#authorization.expr('isAuthenticated()')}">
        <ul>
            <li>
                <span th:text="${#authentication.name}"></span>
            </li>
            <li>
                <a href="/logout" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
    <div th:unless="${#authorization.expr('isAuthenticated()')}">
        <ul>
            <li><a href="/login" th:href="@{/login}">Login</a></li>
            <li><a href="/member" th:href="@{/member}">회원가입</a></li>
        </ul>
    </div>
</header>

<main>
    <div layout:fragment="content" class="container-fluid"></div>
</main>
<footer>
    footer
</footer>
</body>
</html>