<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>hello world</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/fx.min.js" type="text/javascript"></script>
    <script src="/js/fxd.min.js" type="text/javascript"></script>
</head>
<body>
<header>
    header
</header>
<main>
    <div layout:fragment="content" class="container-fluid"></div>
</main>
<footer>
    footer
</footer>
</body>
</html>