<!DOCTYPE html>
<html layout:decorator="layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>member</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="member">
        <div>
            <label for="member_name">이름</label>
            <input type="text" name="name" id="member_name">
        </div>
        <div>
            <label for="member_email">email</label>
            <input type="text" name="email" id="member_email">
        </div>
        <div>
            <label for="member_password">password</label>
            <input type="password" name="password" id="member_password">
        </div>
        <button id="member_btn">등록</button>
    </div>
    <script type="text/javascript" src="/js/ui/member.js"></script>
</th:block>
</body>
</html>